body {
  margin: 0;
  font-family: 'Source Serif Pro', serif;
  font-size: 18px;
  color: #373B3C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  cursor: pointer;
  font-weight: bold;
}

.card-container:hover {
  cursor: pointer;
}

/* .color-container {
  filter: brightness(150%)
} */
